
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-2 col-xs-12">
                <div class="footer-logo"><a href="/"><img src="~/client-side/images/logo.png" alt="fotter logo"></a> </div>
            </div>
            <div class="col-sm-4 col-md-4 col-xs-12 collapsed-block">
                <div class="footer-links">
                    <p>TD Shop là cửa hàng chuyên về quần áo nam nữ thể thao. Chúng tôi rất hân hạnh được mang đến những sản phẩm tốt nhất cho khách</p>
                </div>
            </div> <div class="col-sm-6 col-md-3 col-xs-12 collapsed-block">
                <div class="footer-links">
                    <h3 class="links-title">Thông tin<a class="expander visible-xs" href="#TabBlock-1">+</a></h3>
                    <div class="tabBlock" id="TabBlock-1">
                        <ul class="list-links list-unstyled">
                            <li><a href="#s">Thông tin vận chuyển</a></li>
                            <li><a href="#">Thông tin khuyến mãi</a></li>
                            <li><a href="sitemap.html">Địa chỉ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 collapsed-block">
                <div class="footer-links">
                    <h3 class="links-title">Dịch vụ<a class="expander visible-xs" href="#TabBlock-4">+</a></h3>
                    <div class="tabBlock" id="TabBlock-4">
                        <ul class="list-links list-unstyled">
                            <li><a href="account_page.html">Tài khoản</a></li>
                            <li><a href="shopping_cart.html">Giỏ hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-coppyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2019 <a href="#"> TDShop </a>. All Rights Reserved. </div>
            </div>
        </div>
    </div>
</footer>

<a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a>

<div class="float-contact">
   
    <a href="#" class="fa-custom fa fa-facebook"></a>

    <a href="#" class="fa-custom fa fa-twitter"></a>
 
    <a href="#" class="fa-custom fa fa-google"></a>
    
</div>
