@using CoreApp.Utilities.Constants
<header>
    <div class="header-container">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-xs-12 hidden-xs welcome">
                        <!-- Default Welcome Message -->
                        <div class="welcome-msg">Chào mừng bạn đến với TD Shop </div>
                    </div>

                    <!-- top links -->
                    <div class="headerlinkmenu col-md-6 col-sm-6 col-xs-12">
                        <ul class="links">
                            <li> <i class="fa fa-phone"></i> <span class="phone">Liên hệ: +123.456.789</span></li>
                            <li> <i class="fa fa-envelope"></i> <span class="phone">   tdshop.com</span></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- header inner -->
        @*<div class="header-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-12 jtv-logo-block">

                        <!-- Header Logo -->
                        <div class="logo"><a title="e-commerce" href="/"><img alt="ShopMart" title="TD Shop" src="~/client-side/images/logo.png"></a> </div>
                    </div>
                    <div class="col-md-9 col-xs-12 jtv-top-search">

                        <!-- Search -->
                        <div class="top-search">
                            <div id="search">
                                <form method="get" action="/tim-kiem.html">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Nhập từ khóa bạn muốn tìm kiếm" name="keyword">
                                        <button class="btn-search" data-isHomePage="@ViewData["isHomePage"]" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--End Search -->

                    </div>
                    <!--<div class="col-xs-12 col-sm-4 col-md-2 top-cart">
                         top cart
                        <div class="top-cart-contain">
                            <vc:header-cart></vc:header-cart>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>*@
    </div>
</header>